@import '../../partial';

.pokDetail {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: .5fr 1.5fr;
    overflow: hidden;

    .detailSec1 {
        display: grid;
        grid-template-rows: .1fr .1fr .1fr .7fr;
        color: white;

        .detailBack {
            @include flex(row, space-between, center, 0px);
            width: 100%;
            padding: 2px 10px;
            cursor: pointer;
        }

        .detailHead {
            @include flex(row, space-between, center, 0px);
            width: 100%;
            padding: 2px 10px;

            h1 {
                font-size: 40px;
            }
        }

        .detailTypes {
            @include flex(row, space-between, center, 0px);
            width: 50%;
            padding: 10px;

            span {
                border: 2px solid green;
                padding: 6px 12px;
                border-radius: 10px;
                text-transform: capitalize;
            }
        }

        .detailImg {
            @include flex(row, center, flex-end, 0px);
            width: 100%;

            img {
                width: 250px;
                position: relative;
                // top: 30px;
            }
        }
    }

    .detailSec2 {
        border: 2px solid blue;
        background-color: white;
        border-radius: 30px 30px 0 0;
        padding-top: 25px;

        .detailCategory {
            @include flex(row, space-around, center, 0px);
            cursor: pointer;
        }

        .detailAbout {
            @include flex(column, flex-start, flex-start, 10px);
            border: 2px solid green;
            width: 100%;
            height: 100%;
            padding: 20px;
        }

        .detailBase {
            @include flex(column, flex-start, flex-start, 10px);
            border: 2px solid green;
            width: 100%;
            height: 100%;
            padding: 20px;
        }

        .detailEvolution {
            @include flex(column, flex-start, flex-start, 10px);
            border: 2px solid green;
            width: 100%;
            height: 100%;
            padding: 20px;
        }

        .detailMoves {
            @include flex(row, space-evenly, center, 10px);
            flex-wrap: wrap;
            width: 100%;
            height: 100%;
            overflow: scroll;
            padding: 20px;

            &>div {
                width: 150px;
                text-transform: capitalize;
            }
        }
    }




    @media screen and (min-width : 1100px) {
        grid-template-columns: 1fr 1fr;

        .detailSec1 {
            display: grid;
            grid-template-rows: .1fr .9fr;
            height: 100vh;
            place-items: center;
            .detailBack {
                display: none
            }
            .detailHead {
                width: 100%;
                text-transform: uppercase;
                h1 {
                    font-size: 60px;
                    width: 100%;
                    text-align: center;
                }
                span{
                    display: none;
                }
            }
            .detailTypes {
                display: none;
            }
            .detailImg {
                @include flex(row, center, center, 0px);
                img {
                    width: 60%;
                    position: relative;
                    filter: drop-shadow(15px 15px 20px black);
                }
            }
        }

    }

}